<div *ngIf="input && input.length">
	<table>
		<thead>
			<tr>
				<th colspan="5">Available Books</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Category</th>
				<th>Description</th>
				<th>Price</th>
			</tr>
			<tr *ngFor="let item of input">
				<td>{{item.id}}</td>
				<td>{{item.name}}</td>
				<td>{{item.category}}</td>
				<td>{{item.description}}</td>
				<td>{{item.price}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div *ngIf="cartService.totalAmount; else elseBlock">
	<div>
		<app-cart-item *ngFor="let product of cartService.cartProducts" [complexProduct]="getComplexProduct(product)" (notifyRemoveProduct)="onRemoveProductFromCart($event)"></app-cart-item>
	</div>
	<div class="total">
		<p>Total amount of all products is <span>{{cartService.totalAmount}}</span></p>
		<p>Total cost of all products is <span>{{cartService.totalSum | currency}}</span></p>
	</div>
</div>
<ng-template #elseBlock>
	<p class="no-products">There are no products in the basket</p>
</ng-template>
<button (click)="clearCart()">Remove all products from the basket</button>
<app-order-specifier></app-order-specifier>
