<p>cart works!</p>
<div *ngIf="productsInBasket.length; else elseBlock">
	<table>
		<thead>
			<tr>
				<th colspan="3">Bought Books</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
			</tr>
			<tr *ngFor="let product of productsInBasket">
				<td>{{product.name}}</td>
				<td>{{product.description}}</td>
				<td>{{product.price}}</td>
			</tr>
		</tbody>
	</table>
</div>
<ng-template #elseBlock>
	<p>There are no books in the basket</p>
</ng-template>
