.product-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.refresh {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

button {
	width: 250px;
	background-color: #11d4a3;
	font-size: 20px;
}
