<div class="sorting">
	<p>Sort Books</p>
	<select #sortField>
		<option value="id">Id</option>
		<option value="name">Name</option>
		<option value="price">Price</option>
	</select>
	<span>DESC</span>
	<input
		#sortDirection
		type="radio"
		name="direction"
		checked
	>
	<span>ASC</span>
	<input
		#sortDirection
		type="radio"
		name="direction"
	>
	<button (click)="sortProducts(sortField.value, sortDirection.checked)">Sort</button>
</div>

<p *ngIf="(productsState$ | async).error as value">{{value}}</p>

<div class="product-list">
	<app-product *ngFor="let product of (productsState$ | async).data"
		[product]="product"
		(notifyBuyProduct)="onAddProductToCart($event)"
		(notifyShowProductReview)="onShowProductReview($event)"
	></app-product>
</div>

<div class="refresh">
	<button (click)="onClick()">Show available products</button>
</div>
