button {
	width: 100px;
	background-color: #22a9ca;
	border: 2px solid blue;
	color: darkblue;
	padding: 5px 10px;
	text-align: center;
	font-size: 16px;
	font-style: bold;
	margin: 10px 5px;
	opacity: 0.6;
	transition: 0.3s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		opacity: 1;
	}
}
