<div class="links">
	<a routerLink="/home" routerLinkActive="active">Home</a>
	<a routerLink="/about" routerLinkActive="active">About</a>
	<a routerLink="/products" routerLinkActive="active">Products</a>
	<a routerLink="/cart" routerLinkActive="active">Cart</a>
	<a routerLink="/admin" routerLinkActive="active">Admin</a>
	<a routerLink="/login" routerLinkActive="active">Login</a>
</div>

<div style="text-align:center">
	<h1 #appTitle></h1>
	<h2><span>App: {{appDetails.App}} </span><span> Version: {{appDetails.Ver}}</span></h2>
</div>

<div class="outlets">
	<div>
		<router-outlet></router-outlet>
	</div>
	<div>
		<button class="show-reviews-button"
			*ngIf="!reviewsService.isDisplayed"
			(click)="onDisplayReviews()">
				Show all reviews
		</button>
		<router-outlet name="reviews"></router-outlet>
	</div>
</div>
